<!DOCTYPE HTML>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  {{ partial "header.html" . }}
  <body class="" itemscope itemtype="https://schema.org/Person">
    <meta itemprop="image" content="/assets/images/engy3.jpg" />
    <meta itemprop="url" content="https://enguerrand.leclerc.io" />
    <!-- Wrapper -->
      <div id="wrapper">

        <!-- Main -->
          <section id="main">
            <aside id="main-photo">

            </aside>
            <section>
              <header>
              <h1 class="name" itemprop="name">
                {{ with .Site.Params.personal.name }}
                  {{ . }}
                {{ else }}
                  {{ .Site.Params.author }}
                {{ end }}
              </h1>
              {{ with .Site.Params.personal.livesIn }}
                <h5 class=location>Lives in {{ . | markdownify }}</h5>
              {{ end }}

              {{ with .Site.Params.personal.position }}
                <h2 class="position" itemprop="jobTitle">{{ . | markdownify }}</h2>
              {{ end }}

              {{ with .Site.Params.personal.scope }}
              <ul>
                {{ range . }}
                  <li>{{ . | markdownify }}</li>
                {{ end }}
              </ul>
              {{ end }}

              {{ with .Site.Params.personal.biography }}
                <span class="biography">{{ . | markdownify }}</span>
              {{ end }}
            </header>

            <footer>
              <ul class="icons">
                {{ range .Site.Params.social }}
                  <li><a href="{{ .link }}" class="fab {{ .icon }}" itemprop="sameAs">{{ .title }}</a></li>
                {{ end }}
                <li><a class="fab fa-mastodon" rel="me" href="https://mastodon.social/@engy">Mastodon</a></li>
              </ul>
              {{ if .Site.Params.contact.enable }}
                {{ partial "contact.html" . }}
              {{ end }}
            </footer>
            </section>
          </section>

        <!-- Footer -->
          {{ partial "footer.html" . }}

      </div>
  </body>
</html>
